<html ng-app="Cook&&Share">
<head>
  <meta charset="utf-8">
  <title>Angular Stack Setup</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<base href="/">
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <div class="nav-wrapper container">
        <img class="brand-logo" ui-sref="home" ng-src="/images/Cook&&Share.png" width="184" height="64">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <li ng-if="main.user">
          <a ui-sref="userIndex">Users</a>
        </li> -->
        <li ng-if="main.user">
          <a ui-sref="userShow({id: main.user.id})">Welcome {{main.user.first_name}}</a>
        </li>
        <li ng-if="main.user">
          <a ui-sref="mealIndex">Meals</a>
        </li>
        <li ng-if="main.user">
          <a ui-sref="mealNew">Add Meal</a>
        </li>
        <li ng-if="main.user">
          <a ui-sref="groupsIndex">Groups</a>
        </li>
        <li ng-if="!main.user">
          <a href="#registerModal">Register</a>
        </li>
        <li ng-if="!main.user">
          <a href="#loginModal">Login</a>
        </li>
        <li ng-if="main.user">
          <a ng-click="main.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Login Modal -->
<div id="loginModal" class="modal" ng-controller="LoginCtrl as login">
  <h3>Login</h3>
  <div class="row top">
    <form class="col s12 m8 offset-m2" ng-submit="login.login()">
      <div class="row">
        <div class="input-field col s12">
          <input type="email" class="validate" ng-model="login.user.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="password" class="validate" ng-model="login.user.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" class="waves-effect waves-light btn col s12" value="Login">
      </div>
    </form>
  </div>
</div>

<!-- Register Modal -->
<div id="registerModal" class="modal" ng-controller="RegisterCtrl as register">
  <h3>Register</h3>
    <div class="row">
      <form class="modal-trigger col s12" ng-submit="register.register()">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" name="first_name" type="text" class="validate" ng-model="register.user.first_name">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="last_name" class="validate" ng-model="register.user.last_name">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="email" name="email" class="validate" ng-model="register.user.email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  type="password" name="password" class="validate" ng-model="register.user.password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  type="password" class="validate" name="password_confirmation" ng-model="register.user.password_confirmation">
            <label for="password">Password Confirmation</label>
          </div>
        </div>
        <div class="row">
          <input type="submit" class="waves-effect waves-light btn col s12" value="Register">
        </div>
      </form>
    </div>
</div>



<main class="container" ui-view></main>
<script type="text/javascript">
  $('#loginModal').modal();
  $('#registerModal').modal();
</script>
</body>
</html>
